@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400&family=Poppins:wght@700&display=swap');

:root {
  --text: #020062;
  --background: #e6e6f9;
  --primary: #2563EB;
  --secondary: #020062;
  --accent: #F59E0B; /* o #06B6D4 */
}

body {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

html { font-size: 100%; }

h1 { font-size: clamp(2rem, 5vw, 4.210rem); }
h2 { font-size: clamp(1.5rem, 4vw, 3.158rem); }
h3 { font-size: 2.369rem; }
h4 { font-size: 1.777rem; }
h5 { font-size: 1.333rem; }
small { font-size: 0.750rem; }